// Place all the styles related to the AboutMe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	text-align: center;
}


h3 {
	text-align: center;
}

.something-magical {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 55px;
}

.personal-photo {
	width: 75%;	
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav li:hover ul {
    opacity: 0.92 !important;
}
