// Place all the styles related to the AboutMe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

.something-magical {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 55px;
}

.personal-photo {
	width: 75%;	
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

nav li:hover ul {
    opacity: 0.92 !important;
}

.published-image {
	display: block;
	margin: auto;
}

.published-image-1 {
	padding-top: 30px;
}

.published-image-2 {
	padding-top: 10px;
}

.published-image-3 {
	width: 85%;
}

.published-image-4 {
	width: 55%;	
}

.published-image-7 {
	width: 100%;
	margin-bottom: 15px;
}

.published-image-8 {
	margin-bottom: 15px;
}

.magical-text {
	font-size: 8rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.magicial-bottom-hr {
	margin-bottom: 40px;
}

.published-flex {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.published-flex {
		display: block;
	}
}