// Place all the styles related to the BookOnline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.centered-input {
	display: block;
	margin: auto;
	text-align: center;
}

.wedding-selection {
	margin-bottom: 30px;
}

.beautiful-selection {
	margin-bottom: 30px;
}

.selector {
	margin-top: 30px;
	margin-bottom: 30px;
}

.input-text {
	display: block;
	margin: auto;
	text-align: center;
}

.input-fill-container {
	width: 80%;
}

.larger-submit {
	width: 25%;
}

.option-picker {}

.check-box {}

@media screen and (max-width: 768px) {
	
	.option-picker {
		display: block;
		margin: auto;
	}

	.check-box {
		text-align: center;
	}

	.centered-input {
		margin-bottom: 15px;
	}

}