// Place all the styles related to the client-testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.testimonials {
	margin-bottom: 30px;
}

.testimonial-image {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 50%;
}
