<!DOCTYPE html>
<html>
  <head>
    <title>Sienna Turecamo Photography · Alexandria, VA</title>
    <meta name="description" content="Images that Breathe · Photographer of all things love · Wedding, Engagement, Maternity, Newborn, and Pet" />
    <meta name="keywords" content="photography, photographer, photographer alexandria, photographer Alexandria Virginia, photographer Washington DC, photographer Northern Virginia, wedding photographer, maternity photographer, newborn photographer, pet photographer" />

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
